.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav ul {
  list-style-type: none; /* Убирает маркеры списка */
  padding: 0; /* Убирает отступы */
}

nav li {
  display: inline; /* Делает элементы списка горизонтальными */
  margin-right: 20px; /* Добавляет небольшой отступ между ссылками */
}

nav a {
  text-decoration: none; /* Убирает подчеркивание */
  font-size: 1.2em; /* Увеличивает размер шрифта */
  color: #ffffff; /* Изменяет цвет ссылки на томатный */
}

nav a:hover {
  color: #7c7894; /* Изменяет цвет ссылки при наведении на темно-томатный */
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* Calculator styles */
.calculator-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 1em 0;
}

.calculator-form input,
.calculator-form select,
.calculator-form button {
  padding: 10px;
  font-size: 1.2em;
}

.calculator-form button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
}

.calculator-form button:hover {
  background-color: #45a049;
}

.calculator-result {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-top: 1em;
}

.game-of-life pre {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 16px;
}

.heading {
  transition: all 0.3s ease-in-out;
}

.heading:hover {
  transform: translateX(180px)  scale(1.2);
}
